.nav {
    padding: 40px 40px 0 40px;
    z-index: 2;
}
.nav-title {
    font-size: 1.8rem;
    color: var(--green-400);
}
.navbar-nav {
    margin-left: 140px;
    column-gap: 25px;
}
.nav-item {
    color: var(--dark-600);
}
.nav-item.active {
    color: var(--green-white-100);
    position: relative;
}
.nav-item.active::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    left: -30px;
    background: var(--green-400);
    border-radius: 5px;
    transform: rotate(45deg) translateY(-70%);
}
.nav-link {
    color: inherit;
}
.navbar-buttons {
    margin-left: auto;
    column-gap: 20px;
}
.navbar-responsive-menu {
    display: none !important;
}
.nav-mobile-menu {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    cursor: pointer;
    display: none;
}






@media screen and (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .d-none-1100 {
        display: none ;
    }
    .navbar-responsive-menu {
        display: block !important;
    }
    .navbar-nav {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: rgba(255, 255, 255, 0.5);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .nav-item {
        margin-left: 0;
        opacity: 0;
    }
    .nav-mobile-menu {
        display: block;
    }
    .nav-list.active {
        transform: translateX(0);
    }
}
